---
layout: archive
title: "Research"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{https://scholar.google.com/citations?user=T6A_VNQAAAAJ&hl=en}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<h3>Academic Research</h3>
<strong>Tuberculosis Classification via Wearable Audio</strong>
Tuberculosis remains the most deadly infectious disease in the world. Being able to diagnose tuberculosis is an important tool to help healthcare professionals address the spread of TB. Previous work in our lab and other research groups have shown correlation between recorded coughs and a diagnosis of TB infection. I am working on extending this research by using audio recorded from a wearable rather than audio recorded in a controlled lab setting. We use Hyak, the UW's computing cluster to train and evaluate models.

<strong>Ventriculoperitoneal (VP) Shunt Obstruction Detection</strong>>
<img src='/images/nfc_tag.JPG' alt="">
VP shunts are used to help patients with hydrocephalus shunt off extra brain fluid build up. These shunts are passive and are designed to help transport the liquid through a catheter to drain into the abdomen. However, these shunts will fail at very high rates over the lifetime of the device due failures like a blockage. When this happens, your intracranial pressure begin to rise which can lead to symptoms such as migraines and eventually more serious issues that require immediate treatment. The way to check the shunt status is intrusive, thus we aim to design something that can theoretically be implanted to allow for testing of intracranial pressure without the need to visit the ER. We are also exploring non-invasive ways to detect blockage.

<strong>Hardware Designs</strong>
These are some of my hardware designs for some of the other projects in the lab that focus more on RF and interaction research.
<img src='/images/ring_flex.JPG' alt="">
<img src='/images/ring_flex_2.JPG' alt="">
<img src='/images/xiao_adapter.JPG' alt="">

This is a synchronized PPG signal recorder:
<img src='/images/ppg_sync.JPG' alt="">

<strong>Pre-Hypertension Detection</strong>
<img src='/images/ppg_analysis.png' alt="">
<img src='/images/ppg_force.png' alt="">
Cardiovascular disease is the leading cause of death in the US, with hypertension (high blood pressure) being one of the main ways we can detect such disesases. For my Master's research project I designed a ppg based blood pressure measurement device that utilizes a force sensor and ppg sensor to mimic the operation of a arm based BP monitor. Blood pressure can be approximated by looking at the amplitudes of the ppg wave as pressure is varied. You can find the paper <a href="/files/ching_alex_quals.pdf">here</a>.

<h3>Professional Research</h3>

<strong>Meta</strong>>
I worked as an electrical engineer with the Display Systems Research Group. I focused 

<strong>Microsoft</strong>>
Within the Mixed Reality organization at the time, I focused mainly developing next generation controllers. This 

<strong>Magic Leap</strong>>
I worked in the Advanced Technology group developing next generation AR glasses prototypes. A lot of my worked involved architecture design to integrate our prototype within 

<strong>Microsoft Research</strong>>

<strong>Valve</strong>>
I worked on the original lighthouse 


<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



