---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="https://scholar.google.com/citations?user=T6A_VNQAAAAJ&hl=en">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<h2>Academic Research</h2>
<h3>Tuberculosis Classification via Wearable Audio</h3>
Tuberculosis remains the most deadly infectious disease in the world. Being able to diagnose tuberculosis is an important tool to help healthcare professionals address the spread of TB. Previous work in our lab and other research groups have shown correlation between recorded coughs and a diagnosis of TB infection. I am working on extending this research by using audio recorded from a wearable rather than audio recorded in a controlled lab setting. We use Hyak, the UW's computing cluster to train and evaluate models.
<br>

<h3>Ventriculoperitoneal (VP) Shunt Obstruction Detection</h3>>
<img src='/images/nfc_tag.JPG' alt="">
<br>
VP shunts are used to help patients with hydrocephalus shunt off extra brain fluid build up. These shunts are passive and are designed to help transport the liquid through a catheter to drain into the abdomen. However, these shunts will fail at very high rates over the lifetime of the device due failures like a blockage. When this happens, your intracranial pressure begin to rise which can lead to symptoms such as migraines and eventually more serious issues that require immediate treatment. The way to check the shunt status is intrusive, thus we aim to design something that can theoretically be implanted to allow for testing of intracranial pressure without the need to visit the ER. We are also exploring non-invasive ways to detect blockage.
<br>

<h3>Hardware Designs</h3>
These are some of my hardware designs for some of the other projects in the lab that focus more on RF and interaction research.
<img src='/images/ring_flex.JPG' alt="">
<img src='/images/ring_flex_2.JPG' alt="">
<img src='/images/xiao_adapter.JPG' alt="">
<br>

This is a synchronized PPG signal recorder:
<br>
<img src='/images/ppg_sync.JPG' alt="">
<br>

<h3>Pre-Hypertension Detection</h3>
<img src='/images/ppg_analysis.png' alt="">
<img src='/images/ppg_force.png' alt="">
<br>
Cardiovascular disease is the leading cause of death in the US, with hypertension (high blood pressure) being one of the main ways we can detect such disesases. For my Master's research project I designed a ppg based blood pressure measurement device that utilizes a force sensor and ppg sensor to mimic the operation of a arm based BP monitor. Blood pressure can be approximated by looking at the amplitudes of the ppg wave as pressure is varied. You can find the paper <a href="/files/ching_alex_quals.pdf">here</a>.
<br>

<h2>Professional Research</h2>
<h3>Meta</h3>
I worked as an electrical engineer with the Display Systems Research Group. I focused mostly on designing MIPI based display and camera hardware drivers. Mostly circuit designs.

<h3>Microsoft</h3>
Within the Mixed Reality organization at the time, I focused mainly developing next generation controllers. This involved testing new sensors and building prototypes to allow for user tests and feasibility studies. I also worked on designing some adapters for new cameras.

<h3>Magic Leap</h3>
I worked in the Advanced Technology group developing next generation glasses form factor AR prototypes. A lot of my worked involved architecture design and cross group discussions, to integrate our prototype display into the main Magic Leap ecosystem. I think designed the electronics to drive and integrate the prototype system including rigid-flex boards. I also spent some time within the product groups helping with some flexes. A lot of technical architecture discussions with the graphics, firmware, and calibration teams as well as contacting external vendors and individual work on circuit designs.

<h3>Microsoft Research</h3>
Worked on a myriad of hardware projects in the Hardware Lab that helped researchers to make their ideas a reality. Projects ranged from microphone spheres arrays and health sensing glasses to dna storage and many other topics in between. Was the main hardware engineer for Premonition Project, a smart insect trap, for which I received a patent. I personally worked on architecture design, electronics prototyping (pcb design, simulation), mechanical design (cad, 3d printing, injection molding), and firmware.

<h3>Valve</h3>
I worked on the original lighthouse basestations and early prototypes of VR hardware. Did PCB designs, mechanical designs


<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



